body {
    font-family: 'Poppins', sans-serif;
    background-color: #726cf8;
    background-image: linear-gradient(315deg, #726cf8 0%, #e975a8 74%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    background: white;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.main {
    text-align: center;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: 25px;
}

.main h1 {
    font-size: 36px;
    text-align: center;
    font-weight: 600;
    color: #333;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    color: #333;
}

.box {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type=submit] {
    width: 100%;
    background-color: #764776;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #5a315a;
}
